header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 150px;
}

.nav ul {
  display: flex;
  gap: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav li {
  display: flex;
  align-items: flex-end;
  height: 100%;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

.active {
  border-bottom: 4px solid blue;
}