.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textLeft {
  padding-left: 450px;
  text-align: center;
}