.logoStrip {
  display: flex;
  background-color: #007bff;
  padding: 10px 20px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
}

.logoItem img {
  width: 40px;               /* regola dimensione immagine */
  height: auto;
}
