/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* utilities */

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.g-20 {
  gap: 20px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}